<div class="row">
  <div class="col-md-6">
    <h3>Software Carpentry for UniHigh</h3>
    <table class="table table-striped">
      <tr> <td>August 28, 2018</td>  <td>Setup. Unix shell (Part 1)</td> </tr>
      <tr> <td>August 30, 2018</td>  <td>Unix shell (Part 2)</td> </tr>
      <tr> <td>September 4, 2018</td>  <td>Python</td> </tr>
      <tr> <td>September 6, 2018</td>  <td>Python</td> </tr>
      <tr> <td>September 11, 2018</td>  <td>Python</td> </tr>
      <tr> <td>September 13, 2018</td>  <td>Python</td> </tr>
      <tr> <td>September 18, 2018</td>  <td>Data Management</td> </tr>
      <tr> <td>September 20, 2018</td>  <td>Data Management</td> </tr>
      <tr> <td>September 25, 2018</td>  <td>Open discussion</td> </tr>
      <tr> <td>September 27, 2018</td>  <td>Open discussion</td> </tr>
    </table>
  </div>
</div>
